html {
  font-family: "Segoe UI", Roboto, Helvetica;
  * {
    box-sizing: inherit;
  }
}

body {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body, h1, h2, h3,
h4, h5, h6,
p, ul, ol {
  margin: 0;
}

h2 {
  margin: 15px 0;
}

a {
  text-decoration: none;
  body & {
    color: #5c666a;
  }
}

p {
  word-break: break-word;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e4e4e4;
  color: #5c666a;
}
