.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}

@for $i from 1 through 12 {
  body main {
    .mt-#{$i} {
      margin-top: #{0.25 * $i + 'rem'};
    }
    .mb-#{$i} {
      margin-bottom: #{0.25 * $i + 'rem'};
    }
    .ml-#{$i} {
      margin-left: #{0.25 * $i + 'rem'};
    }
    .mr-#{$i} {
      margin-right: #{0.25 * $i + 'rem'};
    }
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(#{ceil(8.33 * $i) + '%'} - 1rem);
  }
}
