.ranges-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  .form-group {
    width: calc(33.333% - 30px);
    padding: 7.5px 15px;
    box-sizing: content-box;

    label {
      display: block;
      margin: 7.5px 0;
    }
  }
}
