<div *ngIf="filters">
  <form (ngSubmit)="onSubmit()" #filtersForm="ngForm">
    <ul class="ranges-container">
      <ng-container *ngFor="let key of ranges | objKeys">
        <li class="form-group" *ngIf="ranges[key] && ranges[key].length">
          <label>
            <p class="mr-2"><b>{{ key | titlecase }}:</b></p>
            <p>{{ computedRanges[key + '_min'] }} - {{ computedRanges[key + '_max'] }}</p>
          </label>
          <p-slider [ngModel]="ranges[key]"
                    (ngModelChange)="onControlChange()"
                    [range]="true"
                    [min]="1"
                    [max]="100"
                    [step]="2.5"
                    [name]="key"
                    [style]="{'width':'100%'}"></p-slider>
        </li>
      </ng-container>
    </ul>
    <div class="mt-8 mb-8">
      <button pButton type="submit" label="Submit" icon="pi pi-sliders-h" class="ui-button-secondary mr-2" [disabled]="!filtersForm.form.valid"></button>
      <button pButton type="button" label="Clear Filters" icon="pi pi-times" class="ui-button-secondary" (click)="clearFilters()"></button>
    </div>
  </form>
</div>
