.paginator-wrapper {
  display: flex;
  justify-content: flex-end;
}

.paginator {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 250px;
  padding: 30px 0;

  div {
    width: 20%;
    text-align: center;
  }
}
