<section class="paginator-wrapper">
  <div class="paginator">
    <div>
      <button pButton
              *ngIf="currPage > 2"
              type="button"
              label="1"
              class="ui-button-secondary"
              (click)="goToPage(1)"></button>
    </div>
    <div>
      <button pButton
              *ngIf="currPage > 1"
              type="button"
              icon="pi pi-angle-left"
              class="ui-button-secondary"
              (click)="goToPage(currPage - 1)"></button>
    </div>
    <div>
      <button pButton
              disabled
              type="button"
              [label]="currPage"></button>
    </div>
    <div>
      <button pButton
              *ngIf="currPage < lastPage"
              type="button"
              icon="pi pi-angle-right"
              class="ui-button-secondary"
              (click)="goToPage(currPage + 1)"></button>
    </div>
    <div>
      <button pButton
              *ngIf="currPage < (lastPage - 1)"
              type="button"
              [label]="lastPage"
              class="ui-button-secondary"
              (click)="goToPage(lastPage)"></button>
    </div>
  </div>
</section>
