.planet-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  .planet {
    width: calc(50% - 10px);
    padding: 5px;
    box-sizing: content-box;

    p-card {
      width: 100%;
    }
  }
}
