<ul class="planet-list">
  <li *ngFor="let planet of planets" class="planet">
    <p-card [header]="planet.name + ' - ' + planet.id" styleClass="ui-card-shadow">
      <div>Terrain: {{ planet.terrain }}</div>
      <div>Diameter: {{ planet.diameter }}</div>
      <p-footer>
        <button pButton type="button" label="Details" icon="pi pi-globe" [routerLink]="['/planet', planet.id ]"></button>
      </p-footer>
    </p-card>
  </li>
</ul>
