<ng-container *ngIf="planet">
  <p-card [header]="planet.name" [subheader]="'Population: ' + (planet.population | number: '1.0-0')" styleClass="ui-card-shadow">
    <ul class="details-list">
      <li *ngIf="planet.rotation_period">
        <b class="mr-2">Rotation Period:</b>
        <span>{{ planet.rotation_period | number: '1.0-0' }} days</span>
      </li>
      <li *ngIf="planet.orbital_period">
        <b class="mr-2">Orbital Period:</b>
        <span>{{ planet.orbital_period | number: '1.0-0' }} days</span>
      </li>
      <li *ngIf="planet.diameter">
        <b class="mr-2">Diameter:</b>
        <span>{{ planet.diameter | number: '1.0-0' }}</span>
      </li>
      <li *ngIf="planet.climate">
        <b class="mr-2">Climate:</b>
        <span>{{ planet.climate }}</span>
      </li>
      <li *ngIf="(planet.gravity === 0) || planet.gravity">
        <b class="mr-2">Gravity:</b>
        <span>{{ planet.gravity | percent }} earth</span>
      </li>
      <li *ngIf="planet.terrain">
        <b class="mr-2">Terrain:</b>
        <span>{{ planet.terrain }}</span>
      </li>
      <li *ngIf="(planet.surface_water === 0) || planet.surface_water">
        <b class="mr-2">Surface Water:</b>
        <span>{{ (planet.surface_water / 100) | percent: '1.0-2'}} </span>
      </li>
      <li *ngIf="planet.films && planet.films.length">
        <b class="mr-2">Total Movies:</b>
        <span>{{ planet.films.length }}</span>
      </li>
      <li *ngIf="planet.residents && planet.residents.length">
        <b class="mr-2">Total Character Count:</b>
        <span>{{ planet.residents.length }}</span>
      </li>
    </ul>
  </p-card>
</ng-container>
