.details-list {
  padding: 10px 0;
  color: #1ea04c;
  font-size: 14px;

  li {
    margin: 5px 0;

    b {
      color: #dedede;
      font-weight: 200;
    }

    span {
      font-weight: 700;
    }
  }
}
