<section>
  <div class="separator">
    <h2 class="mr-4">Filtered Planets</h2>
    <button pButton
            *ngIf="!notFound"
            type="button"
            label="Back to first page"
            icon="pi pi-chevron-left"
            class="ui-button-info"
            (click)="navigateBack()"></button>
  </div>
  <app-planet-list [planets]="planets$ | async"></app-planet-list>
  <app-not-found *ngIf="notFound" [text]="notFoundTexts.FILTERS"></app-not-found>

</section>
