<header>
  <div class="container">
    <h1>Star Wars Planetpaedia</h1>
  </div>
</header>
<main>
  <div class="container">
    <app-filters *ngIf="(routeData$ | async).page !== page.PLANET_DETAILS"
                 [filters]="filters$ | async"
                 (selectFilters)="selectFilters($event)"></app-filters>
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</main>
<!--<footer><div class="container"></div></footer>-->
