.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    width: 50%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
  }

  .planet-cycler-wrapper {
    justify-content: flex-end;
  }
}

.planet-cycler {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 0;

  div {
    margin: 0 5px;
    text-align: center;
  }
}
