<section>
  <div class="separator">
    <div>
      <h2 class="mr-4">Planet Details</h2>
      <button pButton
              *ngIf="!notFound"
              type="button"
              label="Back to first page"
              icon="pi pi-chevron-left"
              class="ui-button-info"
              (click)="navigateBack()"></button>
    </div>
    <div class="planet-cycler-wrapper">
      <div class="planet-cycler">
        <div>
          <button pButton
                  *ngIf="currPlanet > 1"
                  type="button"
                  label="Prev"
                  icon="pi pi-angle-left"
                  class="ui-button-secondary"
                  (click)="prevPlanet()"></button>
        </div>
        <div>
          <button pButton
                  disabled
                  type="button"
                  [label]="currPlanet"></button>
        </div>
        <div>
          <button pButton
                  type="button"
                  label="Next"
                  icon="pi pi-angle-right"
                  class="ui-button-secondary"
                  (click)="nextPlanet()"></button>
        </div>
      </div>
    </div>
  </div>
  <app-planet-details [planet]="planet$ | async"></app-planet-details>
  <app-not-found *ngIf="notFound" [text]="notFoundTexts.PLANET"></app-not-found>
</section>
