<section>
  <div class="separator">
    <div>
      <h2>Planets Page {{ currPage }}</h2>
    </div>
    <div>
      <app-paginator [currPage]="currPage"
                     [lastPage]="lastPage$ | async"
                     (navigateToPage)="navigateToPage($event)"></app-paginator>
    </div>
  </div>

  <app-planet-list [planets]="planets$ | async"></app-planet-list>
  <app-not-found *ngIf="notFound" [text]="notFoundTexts.PAGE"></app-not-found>
</section>
