main, header, footer {
  .container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 30px 60px;
  }
}

header {
  color: #fff;
  background-image: -webkit-gradient(linear,right top,left top,from(#0e7136),to(#1ea04c));
  background-image: linear-gradient(270deg, #0e7136, #1ea04c);

  .container {
    padding-top: 60px;
  }
}
