<div>
  <section>
    <p>Sorry!</p>
    <p>{{ text }}</p>
    <p>Click here to go back to the first planets page</p>
  </section>
  <div class="mt-4 mb-4">
    <button pButton
            type="button"
            label="Back to Planets"
            icon="pi pi-chevron-left"
            class="ui-button-info"
            [routerLink]="['/planets/page', 1]"></button>
  </div>
</div>
